



 <div id="main-container" class="container">
 <h1>Burgers!</h1>
    <div class= "row">
      <div class = "col-md-8">
          <section class="uneat-section">

<h2>Burgers that are waited to be eaten!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> undev-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
        
          </section>
      </div>

      <div class = "col-md-4">
          <section class="eaten-section">
              <h2>Burgers that are devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> undev-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
          </section>

      </div>
    </div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group" style="display: none;">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Undevoured<br>
    <input type="radio" name="devoured" value="1"> Devoured!
  </div>

  <button type="submit">Add Burger</button>
</form>
  </div>



